SPRING_PROFILES_ACTIVE=staging
MYVPN_IMAGE=dockerhub-user/myvpn:staging

POSTGRES_DB=myvpn
POSTGRES_USER=myvpn
POSTGRES_PASSWORD=change-me

PAYMENT_PROVIDER=YOOKASSA
PAYMENT_ALLOW_FAKE=true
PAYMENT_ACTIVATION_ENABLED=true

VPN_PROVIDER_TYPE=3x-ui
VPN_PROVIDER_ALLOW_FAKE=false

THREEXUI_BASE_URL=https://replace-me
THREEXUI_WEB_BASE_PATH=/
THREEXUI_USERNAME=replace-me
THREEXUI_PASSWORD=replace-me
THREEXUI_INBOUND_ID=replace-me
THREEXUI_PUBLIC_HOST=replace-me
THREEXUI_PUBLIC_PORT_OVERRIDE=replace-me
THREEXUI_CONNECT_TIMEOUT=5s
THREEXUI_READ_TIMEOUT=10s
THREEXUI_MAX_MUTATION_ATTEMPTS=3
THREEXUI_MAX_REQUESTS_PER_OPERATION=8
THREEXUI_RETRY_INITIAL_DELAY=1s
THREEXUI_RETRY_MAX_DELAY=8s
